{% extends 'main.html' %}

{% block content %}
    <a class="create-button" href="{% url 'blog:blog_create' %}">Create new post</a>
    <div class="blog-list-grid">
    {%for post in posts%}
        <div class="post">
            <a class="title" href="{% url 'blog:blog_detail' post.id %}">{{ post.title|title }}</a>
            <p>{{ post.snippet }}</p>
            <div class="published">
                <p>Author: {{ post.author }}</p>
                <p>Published on: {{ post.created_at }}</p>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock content %}

