{% load static %}

<footer>
    <ul>&copy; {% now "Y" %} Distilled Django Blog
        <li><a href="https://twitter.com/kabakiantony">
            <img src="{% static 'images/twitter.png' %}">
        </a></li>
        <li><a href="https://www.linkedin.com/in/kabaki-antony-24ab02203/">
            <img src="{% static 'images/linkedin.png' %}">
        </a></li>
        <li><a href="https://github.com/KabakiAntony">
            <img src="{% static 'images/github.png' %}">
        </a></li>
    </ul>
</footer>