<header>
    <h1 class="logo">Distilled Django Blog</h1>
    <nav>
        <ul class="nav-links">
            {% if user.is_authenticated %}
                <li class="nav-item">Hello, {{ user.username }}</li>
                <li class="nav-item"><a href="{% url 'blog:logout' %}">Logout</a></li>
            {% else %}
                <li class="nav-item"><a href="{% url 'blog:login' %}">Login</a></li>
                <li class="nav-item"><a href="{% url 'blog:blog_register' %}">Register</a></li>
            {% endif %}
            {% if request.path == "/"%}
            {% else %}
            <li class="nav-item"><a href="{% url 'blog:blog_list' %}">Home</a></li>
            {% endif %}
        </ul>
    </nav>
</header>